.currencyCunvertor {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

.container {
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.currencyConverter input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 20px;
    min-height: 50px;
    background: rgb(229, 248, 248);
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    color: rgb(42, 130, 173);
    font-weight: 500;
    box-shadow: 0 0 1px rgb(8, 11, 14, 0.06), 0 6px 6px -1px rgb(8, 11, 14, 0.1);
    transition: all 0.3s ease-in-out;
}

.fromCurr,
.ToCurr {
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    margin-bottom: 0.5rem;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoDisplay {
    margin: auto;
    box-sizing: border-box;
    width: 800px;
    padding-left: 30px;
}

.currencyConverter button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(129, 133, 133);
    background-color: rgb(138, 245, 248);
    cursor: pointer;
}

.currencyConverter p,
h3,
.Amount {
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    margin-bottom: 0.5rem;
}

p {
    font-size: 30px;
}