/* .App {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
} */

.equals {
    font-size: 2rem;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    max-width: 900px;
    margin: auto;
}

.CurrAmount{
    width: 45%;
    min-width: 350px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

form {
    flex-wrap: wrap;
    margin-top: 1rem;
}

label {
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    margin-bottom: 0.5rem;
}

input {
    background: rgb(222, 245, 246);
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    color: grey;
}