.Unitcontainer {
    flex: 1;
    margin-top: calc();
    color: black
}

.unitConverter h1 {
    color: #2a6279;
    padding: 15;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    text-transform: uppercase;
}

.unitConverter .tabBar {
    width: auto;
    background-color: #052F5F;
}

.measureContainer {
    flex: 1;
    margin-top: calc();
    color: black
}

.measureContainer,
.row {
    display: flex;
    /* flex: 1; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    align-items: center;
}

.measureContainer,
.column {
    background-color: rgb(226, 247, 248);
    box-shadow: 0 0 1px rgba(24, 85, 145, 0.06), 0 6px 6px -1px rgba(19, 85, 150, 0.1);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    min-width: 350px;
    max-width: 450px;
    height: 50PX;
    border-radius: 1rem;
    border: none;
    margin: auto;
    margin-top: 7rem;
    transition: all 0.3s ease-in-out;
}

.measureContainer .column .inputs {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-top: 5rem;
    height: 40;
    border-color: #052F5F;
    border-bottom-width: 1;
    font-size: 30px;
}

#input2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 40;
    font-weight: bold;
}