.unitconverter {
    flex: 1;
    margin-top: calc();
    color: black
}

.unitconverter h1 {
    color: #2a6279;
    padding: 15;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    text-transform: uppercase;
}

.unitconverter .tabBar {
    width: auto;
    background-color: #075e67;
}

.measureContainer {
    flex: 1;
    margin-top: 5rem;
    color: black;
    max-height: auto;
}

.measureContainer,
.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.column {
    background-color: rgb(226, 247, 248);
    box-shadow: 0 0 1px rgba(24, 85, 145, 0.06), 0 6px 6px -1px rgba(19, 85, 150, 0.1);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    min-width: 350px;
    max-width: 450px;
    height: 50PX;
    border-radius: 1rem;
    border: none;
    margin: auto;
    margin-top: 5rem;
}

.measureContainer input {
    flex: 1;
    background: none;
    text-align: center;
    margin-top: .1rem;
    height: 40px;
    border: 3rem;
    border-color: none;
    border-bottom-width: 1;
    font-size: 20px;
    font-weight: bold;
}

.inputs {
    flex: 1;
    text-align: center;
    margin-top: .1rem;
    height: 40px;
    border: 3rem;
    border-color: none;
    border-bottom-width: 1;
    font-size: 30px;
    font-weight: bold;
}